[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    side-by-side = true

[merge]
  conflictstyle = zdiff3
	; tool = codediff

[user]
	email = rafirabbani103@gmail.com
	name = Yusuf Rafi Rabbani
[includeIf "gitdir:~/dans/"]
	path = ~/.gitconfig-dans
[includeIf "gitdir:~/gitlab/"]
	path = ~/.gitconfig-gitlab

[push]
	autoSetupRemote = true
[difftool "vimdiff"]
	cmd = vimdiff --wait --diff \"$LOCAL\" \"$REMOTE\"
[difftool "zed"]
	cmd = zed --diff \"$LOCAL\" \"$REMOTE\"
[difftool "codediff"]
	cmd = nvim \"$LOCAL\" \"$REMOTE\" +\"CodeDiff file $LOCAL $REMOTE\"
[mergetool "codediff"]
	cmd = nvim \"$MERGED\" -c \"CodeDiff merge \\\"$MERGED\\\"\"
; [diff]
; 	tool = codediff
